* {
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desatured-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  font-family: 'Red Hat Display';
  background-color: var(--very-pale-blue);
  font-size: 16px;
  font-weight: 500;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  text-align: center;
  background-color: #fff;
  min-width: 300;
  max-width: 445px;
  border-radius: 20px;
}

.card-header {
  height: 200px;
  background: url('./images/illustration-hero.svg') center no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 2rem;
}

.card-description {
  text-align: center;
  width: 80%;
  margin: auto;
}

.main-title {
  color: var(--dark-blue);
  margin-bottom: 1rem;
}

.product-description {
  color: var(--desatured-blue);
  margin-bottom: 1rem;
}

.prices {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
  background-color: var(--very-pale-blue);
  width: 80%;
  margin: auto;
  border-radius: 20px;
  padding: 14px;
  margin-bottom: 1.5rem;
  border: 2px solid blue;
}

.pricing h2 {
  font-size: 0.8rem;
  color: var(--dark-blue);
  font-weight: 900;
}

.pricing .rate {
  font-size: 0.8rem;
  color: var(--desatured-blue);
}

.subscriptions-options {
  font-size: 0.8rem;
  color: var(--dark-blue);
  transition: all 0.3s ease;
  margin-left: auto;
}

.subscriptions-options:hover {
  color: rgba(56, 46, 220, 0.7);
  text-decoration: none;
}

.actions {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.actions button {
  padding: 1rem 63px;
  border-radius: 10px;
  border: none;
}

.cta-happy-path {
  color: white;
  background-color: var(--bright-blue);
  font-weight: 700;
  box-shadow: 0 15px 20px rgba(56, 46, 220, 0.2);
  z-index: 99;
  transition: all 0.3s ease;
}

.cta-happy-path:hover {
  background-color: rgba(56, 46, 220, 0.7);
  cursor: pointer;
}

.cta-unhappy-path {
  color: var(--desatured-blue);
  background-color: white;
  margin-bottom: 1rem;
}
